<div class="main-page-wrapper">
  <div class="pop-up-wrapper" data-ix="pop-up-wrapper">
    <div class="pop-up">
      <div class="pop-up-icon"></div>
      <div>No internet connection.</div>
    </div>
    <div class="pop rounded"></div>
  </div>
  <div class="main-page-body">
    <div class="body-content-wrapper">
      <div class="feed-wrapper">
        <div class="user-id-n-username-wrapper">
          <div>Hyaadd</div>
          <div class="pin-text">58B31D79A02</div>
        </div>
        <div class="login-and-signup-wrapper">
          <div class="received-wrapper">
            <div class="message-status-wrapper">
              <div class="confirmed-buying message-status"></div>
            </div>
            <div class="message">
              <div class="message-header">
                <div class="product-name-wrapper">
                  <div>Ophelia</div>
                </div>
                <div class="arrow-icon"></div>
                <div class="product-name-wrapper">
                  <div>ACCESS</div>
                </div>
              </div>
              <div class="message-and-date-text-wrapper">
                <p class="message-text receive">By continuing you agree to our Terms of Use and Privacy Policy.</p>
                <div class="help-wrapper search-result">
                  <p class="message-text receive" data-ix="show-main-keyboard"><span class="label">Read Online</span><br>legal.ophelia.io</p>
                </div>
              </div>
              <div class="help-wrapper">
                <div class="_1 label">Sign up</div>
                <div class="instruction">type sign up: "full name" @newUsername *newNIP</div>
                <div class="example">sign up: "Barry Joe" @Barry_Joe *3498</div>
              </div>
              <div class="help-wrapper">
                <div class="_1 label">Log in</div>
                <div class="instruction">type log in: #yourPIN *NIP</div>
                <div class="example">log in: #78B42C29 *3498</div>
              </div>
            </div>
          </div>
        </div>
        <div class="search-result-wrapper">
          <div class="received-wrapper">
            <div class="message-status-wrapper">
              <div class="confirmed-buying message-status"></div>
            </div>
            <div class="message">
              <div class="message-header">
                <div class="product-name-wrapper">
                  <div>Mary Jane</div>
                </div>
                <div class="arrow-icon"></div>
                <div class="product-name-wrapper">
                  <div>RESULT</div>
                </div>
              </div>
              <div class="message-and-date-text-wrapper">
                <div class="date">Double tap to go back</div>
                <div class="help-wrapper search-result">
                  <div class="result-text-wrapper">
                    <div class="label">Name</div>
                    <div class="message-text result-text">Mary Jane</div>
                  </div>
                  <div class="result-text-wrapper">
                    <div class="label">Price</div>
                    <div class="message-text result-text">20 fefes</div>
                  </div>
                </div>
                <p class="message-text receive" data-ix="show-main-keyboard">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare eros dolor in.</p>
                <div class="date">Tap to watch</div>
              </div>
              <div class="number-of-msg-wrapper">
                <div class="buying-confirmed notification video"></div>
              </div>
            </div>
          </div>
          <div class="sent-wrapper">
            <div class="message-status-wrapper">
              <div class="message-status you"></div>
            </div>
            <div class="message">
              <div class="message-header">
                <div class="product-name-wrapper you">
                  <div>Barry_Allen</div>
                </div>
              </div>
              <div class="message-and-date-text-wrapper">
                <div class="date">Oct 24, 11:30 PM</div>
                <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare eros dolor in.</p>
                <div class="user-id-wrapper">
                  <div class="user-id">
                    <div class="replying-to-icon user-id"></div>
                    <div>Mary Jane</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sent-wrapper">
            <div class="message-status-wrapper">
              <div class="message-status you"></div>
            </div>
            <div class="message">
              <div class="message-header">
                <div class="product-name-wrapper you">
                  <div>Barry_Allen</div>
                </div>
              </div>
              <div class="message-and-date-text-wrapper">
                <div class="date">Oct 24, 11:30 PM</div>
                <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare eros dolor in.</p>
                <div class="user-id-wrapper">
                  <div class="user-id">
                    <div class="replying-to-icon user-id"></div>
                    <div>Mary Jane</div>
                  </div>
                </div>
                <div class="date">Tap to read more</div>
              </div>
              <div class="number-of-msg-wrapper">
                <div class="buying-confirmed notification you">READ MORE</div>
              </div>
            </div>
          </div>
        </div>
        <ul class="message-list w-list-unstyled">
          <li class="messages-wrapper">
            <div class="received-views-wrapper">
              <div class="received-wrapper">
                <div class="message-status-wrapper">
                  <div class="confirmed-buying message-status"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper">
                      <div>Ophelia</div>
                    </div>
                    <div class="arrow-icon"></div>
                    <div class="product-name-wrapper">
                      <div>ACCOUNT</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Tap to remove</div>
                    <div class="result-text-wrapper">
                      <div class="label">Pin</div>
                      <div class="message-text result-text">68C42S39</div>
                    </div>
                    <div class="result-text-wrapper">
                      <div class="label">Nip</div>
                      <div class="message-text result-text">2494</div>
                    </div>
                    <div class="result-text-wrapper">
                      <div class="label">Balance</div>
                      <div class="message-text result-text">741,95 fefes</div>
                    </div>
                    <div class="result-text-wrapper">
                      <div class="label">Escrow</div>
                      <div class="message-text result-text">25 fefes</div>
                    </div>
                    <div class="result-text-wrapper">
                      <div class="label">expiry date</div>
                      <div class="message-text result-text">24/11/2017</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="messages-wrapper">
            <div class="received-views-wrapper">
              <div class="received-wrapper">
                <div class="message-status-wrapper">
                  <div class="confirmed-buying message-status"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper">
                      <div>Ophelia</div>
                    </div>
                    <div class="arrow-icon"></div>
                    <div class="product-name-wrapper">
                      <div>SELLING</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Oct 24, 11:30 PM</div>
                    <div class="help-wrapper search-result">
                      <div class="result-text-wrapper">
                        <div class="label">Name</div>
                        <div class="message-text result-text">Mary Jane</div>
                      </div>
                      <div class="result-text-wrapper">
                        <div class="label">Price</div>
                        <div class="message-text result-text">20 fefes</div>
                      </div>
                    </div>
                    <p class="message-text receive">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare eros dolor in.</p>
                    <p class="message-text receive">Reply with yes or no to confirm.</p>
                    <div class="date">Tap to watch</div>
                  </div>
                  <div class="number-of-msg-wrapper">
                    <div class="buying-confirmed notification video"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="messages-wrapper">
            <div class="received-views-wrapper">
              <div class="received-wrapper">
                <div class="message-status-wrapper">
                  <div class="confirmed-buying message-status"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper">
                      <div>Ophelia</div>
                    </div>
                    <div class="arrow-icon"></div>
                    <div class="product-name-wrapper">
                      <div>REFUNDING</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Oct 24, 11:30 PM</div>
                    <div class="help-wrapper search-result">
                      <div class="result-text-wrapper">
                        <div class="label">Amount</div>
                        <div class="message-text result-text">20 fefes</div>
                      </div>
                      <div class="result-text-wrapper">
                        <div class="label">Balance</div>
                        <div class="message-text result-text">254 fefes</div>
                      </div>
                      <div class="result-text-wrapper">
                        <div class="label">User id</div>
                        <div class="message-text result-text">58B31D79A02</div>
                      </div>
                    </div>
                    <p class="message-text receive">Reply with yes or no to confirm.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="messages-wrapper">
            <div class="received-views-wrapper">
              <div class="received-wrapper">
                <div class="message-status-wrapper">
                  <div class="confirmed-buying message-status"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper">
                      <div>Ophelia</div>
                    </div>
                    <div class="arrow-icon"></div>
                    <div class="product-name-wrapper">
                      <div>WITHDRAW</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Oct 24, 11:30 PM</div>
                    <div class="help-wrapper search-result">
                      <div class="result-text-wrapper">
                        <div class="label">Amount</div>
                        <div class="message-text result-text">20 fefes</div>
                      </div>
                      <div class="result-text-wrapper">
                        <div class="label">Balance</div>
                        <div class="message-text result-text">14 fefes</div>
                      </div>
                      <div class="result-text-wrapper">
                        <div class="label">User Id</div>
                        <div class="message-text result-text">58B31D79A02</div>
                      </div>
                      <div class="result-text-wrapper">
                        <div class="label">Full Name</div>
                        <div class="message-text result-text">Barry Joe</div>
                      </div>
                      <div class="result-text-wrapper">
                        <div class="label">Address</div>
                        <div class="message-text result-text">174 rue fontaine, Gatineau, Qc</div>
                      </div>
                    </div>
                    <p class="message-text receive">Reply with yes or no to confirm.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="messages-wrapper">
            <div class="received-views-wrapper">
              <div class="received-wrapper">
                <div class="message-status-wrapper">
                  <div class="confirmed-buying message-status"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper">
                      <div>Ophelia</div>
                    </div>
                    <div class="arrow-icon"></div>
                    <div class="product-name-wrapper">
                      <div>ESCROW</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Oct 24, 11:30 PM</div>
                    <p class="message-text receive"><span class="label">20 fefes&nbsp;</span><br>Added in your escrow account for Mary Jane</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="messages-wrapper">
            <div class="received-views-wrapper">
              <div class="received-wrapper">
                <div class="message-status-wrapper">
                  <div class="confirmed-buying message-status"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper">
                      <div>Ophelia</div>
                    </div>
                    <div class="arrow-icon"></div>
                    <div class="product-name-wrapper">
                      <div>TRANSFERING</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Oct 24, 11:30 PM</div>
                    <div class="help-wrapper search-result">
                      <div class="result-text-wrapper">
                        <div class="label">Amount</div>
                        <div class="message-text result-text">20 fefes</div>
                      </div>
                      <div class="result-text-wrapper">
                        <div class="label">Balance</div>
                        <div class="message-text result-text">14 fefes</div>
                      </div>
                      <div class="result-text-wrapper">
                        <div class="label">To</div>
                        <div class="message-text result-text">58B31D79A02</div>
                      </div>
                    </div>
                    <p class="message-text receive">Reply with yes or no to confirm.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="messages-wrapper">
            <div class="received-views-wrapper">
              <div class="received-wrapper">
                <div class="message-status-wrapper">
                  <div class="confirmed-buying message-status"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper">
                      <div>Ophelia</div>
                    </div>
                    <div class="arrow-icon"></div>
                    <div class="product-name-wrapper">
                      <div>CANCELLING</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Oct 24, 11:30 PM</div>
                    <p class="message-text receive"><span class="label">CANCEL&nbsp;Mary Jane</span><br>Reply with yes or no to confirm.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="messages-wrapper">
            <div class="received-views-wrapper">
              <div class="received-wrapper">
                <div class="message-status-wrapper">
                  <div class="confirmed-buying message-status"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper">
                      <div>Ophelia</div>
                    </div>
                    <div class="arrow-icon"></div>
                    <div class="product-name-wrapper">
                      <div>PAYING</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Oct 24, 11:30 PM</div>
                    <p class="message-text receive"><span class="label">PAY Mary Jane</span><br>Reply with yes or no to confirm.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="messages-wrapper">
            <div class="received-views-wrapper">
              <div class="received-wrapper">
                <div class="message-status-wrapper">
                  <div class="confirmed-buying message-status"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper">
                      <div>Ophelia</div>
                    </div>
                    <div class="arrow-icon"></div>
                    <div class="product-name-wrapper">
                      <div>HELP</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Double tap to remove</div>
                    <div class="help-wrapper">
                      <div class="_1 label">Home page</div>
                      <div class="instruction">type home:</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Log out</div>
                      <div class="instruction">type log out:</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Account info</div>
                      <div class="instruction">type account:</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Help</div>
                      <div class="instruction">type help:</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Clear feed</div>
                      <div class="instruction">type clear:</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Replying</div>
                      <div class="instruction">tap the message to reply</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Copying</div>
                      <div class="instruction">double tap the message to copy</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Reading new message</div>
                      <div class="instruction">tap the last message</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Viewing media file</div>
                      <div class="instruction">tap the message</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Removing/deleting message</div>
                      <div class="instruction">reply remove:</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Cancelling</div>
                      <div class="instruction">reply cancel:</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Paying</div>
                      <div class="instruction">reply pay:</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Changing NIP</div>
                      <div class="instruction">new nip: type new nip</div>
                      <div class="example">new nip: 3456</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Direct messaging</div>
                      <div class="instruction">@username: message</div>
                      <div class="example">@hyaadd: hey what's up</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Refund</div>
                      <div class="instruction">refund: &lt;card number/mmyy/cvv&gt; $amount</div>
                      <div class="example">refund: &lt;0000111122223333/0321/097&gt; $25</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Transfer</div>
                      <div class="instruction">transfer: &lt;user ID&gt; $amount</div>
                      <div class="example">transfer: &lt;58B31D79A02&gt; $25</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">withdraw</div>
                      <div class="instruction">withdraw: "full address" #PIN *YourNIP $amount</div>
                      <div class="example">withdraw: "full address" #68C42S39 *2494 $25</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Sell</div>
                      <div class="instruction">sell: ="product name" $pricing /unit caption</div>
                      <div class="example">sell:"Mary Jane" $20 /gram it is a dope product</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Rate</div>
                      <div class="instruction">rate: number of stars</div>
                      <div class="example">rate: 5</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Commenting</div>
                      <div class="instruction">comment: type your comment</div>
                      <div class="example">comment: it is great</div>
                    </div>
                    <div class="help-wrapper">
                      <div class="_1 label">Taking down</div>
                      <div class="instruction">take down: #yourNIP *PIN</div>
                      <div class="example">take down: #34B76S98 *2494</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="messages-wrapper">
            <div class="received-views-wrapper">
              <div class="new-message received-wrapper">
                <div class="message-status-wrapper">
                  <div class="confirmed-buying message-status new-message"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper">
                      <div>Mary Jane</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date new-mesage">Oct 24, 11:30 PM</div>
                  </div>
                </div>
              </div>
              <div class="received-wrapper">
                <div class="message-status-wrapper">
                  <div class="confirmed-buying message-status"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper">
                      <div>Mary Jane</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Oct 24, 11:30 PM</div>
                    <p class="message-text receive" data-ix="show-main-keyboard">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare eros dolor in.</p>
                  </div>
                </div>
              </div>
              <div class="received-wrapper">
                <div class="message-status-wrapper">
                  <div class="confirmed-buying message-status"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper">
                      <div>Mary Jane</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Oct 24, 11:30 PM</div>
                    <p class="message-text receive" data-ix="show-main-keyboard">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare eros dolor in.</p>
                    <div class="date">Tap to watch</div>
                  </div>
                  <div class="number-of-msg-wrapper">
                    <div class="buying-confirmed notification video"></div>
                  </div>
                </div>
              </div>
              <div class="received-wrapper">
                <div class="message-status-wrapper">
                  <div class="confirmed-buying message-status"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper">
                      <div>Mary Jane</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Oct 24, 11:30 PM</div>
                    <p class="message-text receive" data-ix="show-main-keyboard">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare eros dolor in.</p>
                    <div class="date">Tap to read more</div>
                  </div>
                  <div class="number-of-msg-wrapper">
                    <div class="buying-confirmed notification">Read more</div>
                  </div>
                </div>
              </div>
              <div class="received-wrapper">
                <div class="message-status-wrapper">
                  <div class="confirmed-buying message-status"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper">
                      <div>Mary Jane</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Oct 24, 11:30 PM</div>
                    <p class="message-text receive" data-ix="show-main-keyboard">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare eros dolor in.</p>
                    <div class="date">Tap to read new message</div>
                  </div>
                  <div class="number-of-msg-wrapper">
                    <div class="buying-confirmed notification">1 new</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sent-views-wrapper">
              <div class="sent-wrapper">
                <div class="message-status-wrapper">
                  <div class="message-status you"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper you">
                      <div>You</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Read - Oct 24</div>
                    <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare eros dolor in.</p>
                    <div class="user-id-wrapper">
                      <div class="user-id">
                        <div class="replying-to-icon user-id"></div>
                        <div>Mary Jane</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sent-wrapper">
                <div class="message-status-wrapper">
                  <div class="message-status you"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper you">
                      <div>You</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Read - Oct 24</div>
                    <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare eros dolor in.</p>
                    <div class="user-id-wrapper">
                      <div class="user-id">
                        <div class="replying-to-icon user-id"></div>
                        <div>Mary Jane</div>
                      </div>
                    </div>
                    <div class="date">Tap to read more</div>
                  </div>
                  <div class="number-of-msg-wrapper">
                    <div class="buying-confirmed notification you">READ MORE</div>
                  </div>
                </div>
              </div>
              <div class="sent-wrapper">
                <div class="message-status-wrapper">
                  <div class="message-status you"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper you">
                      <div>You</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date">Delivered - Oct 24</div>
                    <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare eros dolor in.</p>
                    <div class="user-id-wrapper">
                      <div class="user-id">
                        <div class="replying-to-icon user-id"></div>
                        <div>Mary Jane</div>
                      </div>
                    </div>
                    <div class="date">Tap to watch</div>
                  </div>
                  <div class="number-of-msg-wrapper">
                    <div class="buying-confirmed notification video you"></div>
                  </div>
                </div>
              </div>
              <div class="sent-wrapper">
                <div class="message-status-wrapper">
                  <div class="message-status video video-message you"></div>
                </div>
                <div class="message">
                  <div class="message-header">
                    <div class="product-name-wrapper you">
                      <div>You</div>
                    </div>
                  </div>
                  <div class="message-and-date-text-wrapper">
                    <div class="date new-mesage">&gt;Mary Jane - Oct 24</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main-page-footer">
    <div class="footer-content-wrapper">
      <div class="input-wrapper">
        <div class="input" data-ix="show-main-keyboard">
          <div class="command-icon pink"></div>
          <div class="command input-text" data-ix="input-text">Command:</div>
          <div class="highlights input-text" data-ix="input-text">metadata</div>
          <div class="input-text" data-ix="input-text">E</div>
          <div class="input-text" data-ix="input-text">x</div>
          <div class="input-text" data-ix="input-text">a</div>
          <div class="input-text" data-ix="input-text">m</div>
          <div class="input-text" data-ix="input-text">p</div>
          <div class="input-text" data-ix="input-text">l</div>
          <div class="input-text" data-ix="input-text">e</div>
          <div class="cursor" data-ix="cursor"></div>
          <div class="placeholder-n-recommendation-text" data-ix="placeholder-text">Type</div>
        </div>
        <div class="loader-wrapper">
          <div class="loader">
            <div class="w-embed">
              <div id="circularG">
                <div id="circularG_1" class="circularG"></div>
                <div id="circularG_2" class="circularG"></div>
                <div id="circularG_3" class="circularG"></div>
                <div id="circularG_4" class="circularG"></div>
                <div id="circularG_5" class="circularG"></div>
                <div id="circularG_6" class="circularG"></div>
                <div id="circularG_7" class="circularG"></div>
                <div id="circularG_8" class="circularG"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons-and-main-keyboard-wrapper" data-ix="keyboard">
        <div class="keyboard-wrapper">
          <div class="keyboard">
            <div class="characters-wrapper">
              <div class="alphabeticals-wrapper">
                <div class="key-rows">
                  <div class="key-wrapper">
                    <div class="small-caps">q</div>
                    <div class="big-caps">q</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">w</div>
                    <div class="big-caps">w</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">e</div>
                    <div class="big-caps">e</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">r</div>
                    <div class="big-caps">r</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">t</div>
                    <div class="big-caps">t</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">y</div>
                    <div class="big-caps">y</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">u</div>
                    <div class="big-caps">u</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">i</div>
                    <div class="big-caps">i</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">o</div>
                    <div class="big-caps">o</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">p</div>
                    <div class="big-caps">p</div>
                  </div>
                </div>
                <div class="key-rows">
                  <div class="key-wrapper">
                    <div class="small-caps">a</div>
                    <div class="big-caps">a</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">s</div>
                    <div class="big-caps">s</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">d</div>
                    <div class="big-caps">d</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">f</div>
                    <div class="big-caps">f</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">g</div>
                    <div class="big-caps">g</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">h</div>
                    <div class="big-caps">h</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">j</div>
                    <div class="big-caps">j</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">k</div>
                    <div class="big-caps">k</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">l</div>
                    <div class="big-caps">l</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">@</div>
                  </div>
                </div>
                <div class="key-rows">
                  <div class="key-wrapper">
                    <div class="symbols">/</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">z</div>
                    <div class="big-caps">z</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">x</div>
                    <div class="big-caps">x</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">c</div>
                    <div class="big-caps">c</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">v</div>
                    <div class="big-caps">v</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">b</div>
                    <div class="big-caps">b</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">n</div>
                    <div class="big-caps">n</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="small-caps">m</div>
                    <div class="big-caps">m</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">$</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">:</div>
                  </div>
                </div>
              </div>
              <div class="numerical-wrapper" data-ix="numerical-keyboard">
                <div class="key-rows">
                  <div class="key-wrapper">
                    <div class="symbols">1</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">2</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">3</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">4</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">5</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">6</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">7</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">8</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">9</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">0</div>
                  </div>
                </div>
                <div class="key-rows">
                  <div class="key-wrapper">
                    <div class="symbols">-</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">#</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">;</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">(</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">)</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">&amp;</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">"</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">+</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">=</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">?</div>
                  </div>
                </div>
                <div class="key-rows">
                  <div class="key-wrapper">
                    <div class="symbols">!</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">.</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">,</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">'</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">*</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">%</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">&lt;</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">&gt;</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">|</div>
                  </div>
                  <div class="key-wrapper">
                    <div class="symbols">_</div>
                  </div>
                </div>
              </div>
              <div class="key-rows">
                <div class="key-wrapper with-icon">
                  <div class="camera key-icon"></div>
                </div>
                <div class="key-wrapper space">
                  <div>space</div>
                </div>
                <div class="_123 key-wrapper" data-ix="show-numerical-keyboard">
                  <div class="show-123">123</div>
                  <div class="show-abc">ABC</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="keyboard-tips">
          <div class="_4 rounded"></div>
          <div class="keyboard-control-wrapper">
            <div class="close-keyboard" data-ix="close-main-keyboard"></div>
            <div class="keyboard-center-buttons-wrapper">
              <div class="buttons help"></div>
              <div class="buttons caps" data-ix="shift"></div>
              <div class="buttons clear"></div>
              <div class="buttons send"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
